<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/public/css/menu.css">
</head>
<body>
    <header>
        <!-- Sidebar -->
        <div id="sidebar" class="sidebar">
            <button class="menu-icon" onclick="toggleSidebar()">
                <i class="fas fa-times"></i>
            </button>
            <h2>Menu</h2>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Serviços</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
        <button onclick="toggleSidebar()"><i class="fas fa-bars home"></i></button>
        <h1>Blog do GUGU</h1>
        <nav>
            <button onclick="location.href='/login'"><i class="fas fa-users-cog"></i></button>
        </nav>
    </header>

    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <main>
        <div class="post-container">
            <% posts.forEach(post => { %>
                <div class="post">
                    <% if (post.media) { %>
                        <div class="post-image">
                            <img src="<%= post.media %>" alt="<%= post.title %>">
                        </div>
                    <% } %>
                    <div class="post-content">
                        <button class="like-button" onclick="likePost(this, '<%= post._id %>')">
                            <i class="fas fa-heart"></i> <span class="like-count"><%= post.likes || 0 %></span>
                        </button>
                        <h2><%= post.title %></h2>
                        <p><%= post.content %></p>
                    </div>
                </div>
            <% }); %>
        </div>
        
        <div class="pagination">
            <!-- Aqui você pode adicionar botões de paginação se necessário -->
        </div>
    </main>

    <script>
        // Função para incrementar o contador de likes ao clicar no ícone
    async function likePost(button, postId) {

        try{

            const response = await fetch(`/posts/${postId}/like`, {
                method: 'POST',
            });

            if (!response.ok) {
                throw new Error('Erro ao adicionar like');
            }

            const data = await response.json();

            const likeCountSpan = button.querySelector('.like-count'); // Encontra o contador de likes
            likeCountSpan.textContent = data.likes;// Incrementa o contador de likes
        } catch (err) {
            console.error('Erro ao adicionar like: ', err);
        }
    };

    function toggleSidebar() {
        const sidebar = document.getElementById('sidebar');
        if (sidebar.style.width === '250px') {
            sidebar.style.width = '0';
        } else {
            sidebar.style.width = '250px';
        }
    };

    </script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>
</html>
